# Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix,recall_score,precision_score,mean_squared_error
from sklearn.model_selection import train_test_split,cross_val_score,cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor,ExtraTreesRegressor,GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from joblib import load,dump
import numpy as np
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge
from sklearn.svm import SVR
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from joblib import dump,load

# EDA

In [2]:
df = pd.read_csv("Property_with_Feature_Engineering.csv")

In [3]:
df.head()

,property_type,price,price_bin,location,city,province_name,locality,latitude,longitude,baths,area,area_marla,area_sqft,purpose,bedrooms
0,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",31.483869,74.325686,0,6 Kanal,120.0,32670.12,For Sale,0
1,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",31.431593,74.179980,5,1 Kanal,20.0,5445.02,For Sale,5
2,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",31.499348,74.416959,0,9 Marla,9.0,2450.26,For Sale,3
3,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",31.522069,74.355512,7,1 Kanal,20.0,5445.02,For Sale,8
4,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",31.506483,74.286017,5,11 Marla,11.0,2994.76,For Sale,6

In [4]:
df.tail()

,property_type,price,price_bin,location,city,province_name,locality,latitude,longitude,baths,area,area_marla,area_sqft,purpose,bedrooms
191388,Upper Portion,70000,Very High,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",33.668497,73.074160,0,12.4 Marla,12.4,3375.91,For Rent,3
191389,Upper Portion,40000,Medium,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",33.668497,73.074160,0,12.4 Marla,12.4,3375.91,For Rent,2
191390,House,160000,High,G-10,Islamabad,Islamabad Capital,"G-10, Islamabad, Islamabad Capital",33.676104,73.013842,6,1 Kanal,20.0,5445.02,For Rent,6
191391,Flat,25000,Low,DHA Defence,Islamabad,Islamabad Capital,"DHA Defence, Islamabad, Islamabad Capital",33.527944,73.161392,2,2.7 Marla,2.7,735.08,For Rent,2
191392,Upper Portion,26000,Low,I-10,Islamabad,Islamabad Capital,"I-10, Islamabad, Islamabad Capital",33.649779,73.029385,1,0 Marla,0.0,0.00,For Rent,3

In [5]:
df_1 = df.iloc[56604:56917]

In [6]:
df_1.head()

,property_type,price,price_bin,location,city,province_name,locality,latitude,longitude,baths,area,area_marla,area_sqft,purpose,bedrooms
56604,Flat,9000000,High,DHA Defence,Karachi,Sindh,"DHA Defence, Karachi, Sindh",24.797098,67.050927,2,4.2 Marla,4.2,1143.45,For Sale,2
56605,Lower Portion,9500000,High,Jamshed Town,Karachi,Sindh,"Jamshed Town, Karachi, Sindh",24.871447,67.058573,3,3.6 Marla,3.6,980.10,For Sale,2
56606,House,82500000,Very High,DHA Defence,Karachi,Sindh,"DHA Defence, Karachi, Sindh",24.805045,67.064323,5,1 Kanal,20.0,5445.02,For Sale,5
56607,House,7000000,Low,Korangi,Karachi,Sindh,"Korangi, Karachi, Sindh",24.832078,67.129869,3,5 Marla,5.0,1361.25,For Sale,5
56608,Flat,14500000,Very High,North Nazimabad,Karachi,Sindh,"North Nazimabad, Karachi, Sindh",24.935635,67.051020,3,7.1 Marla,7.1,1932.98,For Sale,3

In [7]:
df_1.drop('price_bin',axis = 1,inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9272\2621656888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop('price_bin',axis = 1,inplace = True)

In [8]:
df_1.drop('province_name',axis = 1,inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9272\992130300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop('province_name',axis = 1,inplace = True)

In [9]:
df_1.drop('locality',axis = 1,inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9272\3960584482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop('locality',axis = 1,inplace = True)

In [10]:
df_1.drop('area',axis = 1,inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9272\2863304762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop('area',axis = 1,inplace = True)

In [11]:
df_1.drop('purpose',axis = 1,inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_9272\3670918143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop('purpose',axis = 1,inplace = True)

In [12]:
df_1['location'].value_counts()

DHA Defence                        45
Gulistan-e-Jauhar                  40
Bahria Town Karachi                37
Gulshan-e-Iqbal Town               25
Cantt                              22
Scheme 33                          18
North Karachi                      15
Clifton                            14
North Nazimabad                    14
Gadap Town                         11
Malir                              11
Jamshed Town                        7
Federal B Area                      5
Korangi                             5
Navy Housing Scheme Karsaz          3
Nazimabad                           3
Bath Island                         3
Korangi Road                        2
Shahra-e-Faisal                     2
Shah Faisal Town                    2
Jinnah Avenue                       2
Malir Link To Super Highway         2
New Karachi                         2
Anda Mor Road                       1
Lyari Town                          1
Orangi Town                         1
Gulshan-e-Areesha                   1
Muslimabad Society                  1
Saddar Town                         1
Dalmia Cement Factory Road          1
Aisha Manzil                        1
Gulberg Town                        1
Defence View Society                1
Maskan Chowrangi                    1
Gulshan-e-Usman Housing Society     1
Naval Housing Scheme                1
Hill Park                           1
Amil Colony                         1
Shaheed Millat Road                 1
Civil Lines                         1
Fazaia Housing Scheme               1
Kemari Town                         1
Jamshed Road                        1
Hassan Goth                         1
Chapal Skymark                      1
Bahria Town                         1
Name: location, dtype: int64

In [13]:
df_1['property_type'].value_counts()

Flat             151
House            137
Upper Portion     14
Lower Portion      9
Penthouse          1
Farm House         1
Name: property_type, dtype: int64

# Correlations

In [14]:
corr_matrix = df_1.corr()

In [15]:
corr_matrix['price'].sort_values(ascending=False)

price         1.000000
bedrooms      0.393418
area_sqft     0.344788
area_marla    0.344788
baths         0.310218
longitude    -0.043726
latitude     -0.054136
Name: price, dtype: float64

In [16]:
df_1.describe()

,price,latitude,longitude,baths,area_marla,area_sqft,bedrooms
count,3.130000e+02,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000
mean,2.943545e+07,24.943888,67.140690,3.083067,9.638019,2623.959585,3.354633
std,4.709598e+07,0.501741,0.355617,1.860383,19.187634,5223.852906,1.846372
min,2.000000e+06,24.779955,66.974201,0.000000,2.000000,544.500000,0.000000
25%,7.000000e+06,24.866563,67.062500,2.000000,4.700000,1279.580000,2.000000
50%,1.500000e+07,24.920535,67.096539,3.000000,6.900000,1878.530000,3.000000
75%,3.200000e+07,24.957723,67.154935,4.000000,9.800000,2668.060000,4.000000
max,5.500000e+08,33.692638,73.218813,10.000000,320.000000,87120.320000,12.000000

# Some Preprocessing

In [17]:
df_1 = df_1.drop(['property_type','location','city'], axis='columns')

In [18]:
df_1.sample(5)

           price   latitude  longitude  baths  area_marla  area_sqft  bedrooms
56800   14400000  24.923999  67.134140      5         9.6    2613.61         5
56738   12500000  24.938913  67.140593      0         5.1    1388.48         4
56684  120000000  24.782215  67.074537      8        24.0    6534.02         8
56740   40000000  24.920384  67.129162      0        16.0    4356.02         6
56685   25000000  24.964623  67.168558      6         9.6    2613.61         6

In [19]:
x = df_1.drop(['price'], axis='columns')
y = df_1.price

# Train Test Splitting

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

# Picking up a desire model for better predictions

In [21]:
models = []
# models.append(('LR',LinearRegression()))
# models.append(('Ex',ExtraTreesRegressor()))
# models.append(('Dt',DecisionTreeRegressor()))
# models.append(('AR',AdaBoostRegressor()))#
models.append(('RR',RandomForestRegressor()))
# models.append(('Gn',GaussianNB()))
# models.append(('Sg',SGDRegressor()))
# models.append(('Kr',KernelRidge()))
# models.append(('Er',ElasticNet()))
# models.append(('Br',BayesianRidge()))
# models.append(('SVR',SVR()))
# models.append(('Xg',XGBRegressor()))
# models.append(('LG',LGBMRegressor()))
# models.append(('CB',CatBoostRegressor()))#
# models.append(('BR',BaggingRegressor()))
# models.append(('GR',GradientBoostingRegressor()))
models

[('RR', RandomForestRegressor())]

In [22]:
results = []
names = []

In [23]:
for name, model in models:
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    results.append(model.score(x_test,y_pred))
    print(results)

[1.0]

In [24]:
x_test.head()

        latitude  longitude  baths  area_marla  area_sqft  bedrooms
56735  24.819653  67.077749      4         4.0    1089.00         4
56901  24.937425  67.182856      3        11.4    3103.66         3
56792  24.883427  67.164488      2         2.8     762.30         2
56834  24.832117  67.063637      4         8.0    2178.01         3
56851  24.949734  67.182861      2         4.9    1334.03         2

# Predictions

In [25]:
input_1 = np.array([[24.819653,67.077749,4,4.0,1089.00,4]])
model.predict(input_1)

D:\anaconda install\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([34285000.])

In [26]:
y_test.head()

56735    36500000
56901    32500000
56792     2800000
56834    18500000
56851    10000000
Name: price, dtype: int64

# Dump the model for usage

In [27]:
dump(model,'home.joblib')

['home.joblib']